<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronSpotify</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <nav>
    <h1>IronSpotify</h1>
    <div>
      <a href="/home">New search</a>
      <img src="/images/search-icon.png" alt= search-icon/>
    </div>
  </nav>
  <body>
    {{{ body }}}
  </body>
  
</html>