<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <title>Ironhack Spotify</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>

    {{!-- any page we want to render will be "plugged in" here, in the "body" with triple stashes --}}
    {{!-- this is the only page that will have full html setup --}}
    {{!-- if there's anything you want to have on each page, it will come from here
    ex. navbar, header, footer, etc --}}
    {{{body}}} 
    </body>
</html>
